<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <title>{{.Title}}</title>
  <style>
    body {
      font-family: "Inter", sans-serif;
      font-weight: 400;
    }
  </style>
</head>
<body>
  <div>
    <h1>{{.Title}}</h1>
    {{range $option := .Story}}
      <p>
        {{$option}}
      </p>
    {{end}}

    <h2>Choose your path!</h2>
    {{ if len .Options }}
      {{range $option := .Options}}
        <p>
          <a href="{{$option.Arc}}">{{$option.Text}}</a>
        </p>
      {{end}}
    {{else}}
        <p>
          <a href="/">Start again!</a>
        </p>
    {{end}}
  </div>
</body>
</html>